<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Imagen_TPFINAL" value="C:\Users\gabri\Desktop\C# Nivel_2\inicio\2025\TPFinalNivel2_Origüen\Imagen_TPFINAL\"/>
	</appSettings>
</configuration>